.deleteIcon {
    font-size: 20px;
    
}

.deleteIcon:hover {
    color: darkRed;
    cursor: pointer;
}

.taxField {
    display: inline-block;
    text-align: left;
    max-width: 200px;
    margin:15px;
}

.addInvoiceButton{
    text-align: left;
    display: inline-block;
    margin: 15px 15px 15px auto;
}

.invoiceDetailsCell {
    padding: 11px 2px;
}

.invoiceDetailsCell input {
    padding: 3px;
}

.invoiceNumberSpan {
    text-align: center
}

.invoiceFooter {
    text-align: right
}